
.ContactUs_Wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    .ContactUs_Header_Info{
        margin-top: 90px;
        width: 100%;
        height: auto;

        max-width:1126px;
        max-height: 276px;

        display: flex;
        flex-direction: column;
        gap: 14px;

        h1{
            width: 100%;
            height: 174px;

            font-weight: 500;
            font-style: Medium;
            font-size: 54px;
            line-height: 58px;
            letter-spacing: -1px;
        }
        p{
            width: 100%;
            height: 78px;

            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
        }
    }
    
    .ContactUs_Feature_Section{
        width: 100%;
        max-width: 1119px;
        height: 430px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F3F5F7;

        
        img{
            width: 50%;
            max-width: 560px;
            height: 100%;
        }
        
        .ContactUs_Feature_Info{
            width: 100%;
            height: auto;
            
            padding: 100px 72px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            h1{
                width: 100%;
                height: auto;

                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }
            p{
                width: 100%;
                height: auto;

                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }
        }
    }

    .Contact_Us_Section{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-bottom: 40px;

        h1{
            font-weight: 500;
            font-style: Medium;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: -0.4px;
            text-align: center;
        }

        .Contact_Us_Item_Block_Container{
            width: 100%;
            height: 150px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            gap:24px;

            .Contact_Us_Item_Block{
                width: 360px;
                height: 160px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;

                background: #F3F5F7;
                font-size: 32px;
                h3{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: #6C7275;
                }
                h2{
                    margin-top: -8px;
                    width: 293px;
                    height: 52px;
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                }
            }
        }

        .Contact_Us_Location_Container{
            width: 100%;
            max-width: 1120px;
            height: 404px;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 28px;



           .Contact_Us_Form{
                width: 50%;
                height: 100%;

                display: flex;
                flex-direction: column;
                
                justify-content: center;
                gap: 24px;

                .ContactUs_Inputs{
                    width: 100%;
                    max-width: 544px;
                    height: 64px;

                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    label{
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: #6C7275;
                    }

                    input{
                        width: 100%;
                        height:40px;
                        padding: 7px 16px;

                        border: 1px solid #CBCBCB;
                        border-radius: 6px;

                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;

                        &:focus{
                            outline: none;
                        }
                    }               
                }
                
                textarea{
                    min-width: 100%;
                    min-height: 140px;

                    max-width: 544px;
                    max-height: fit-content;
                    
                    padding: 16px;
             

                    color: #6C7275;
                    border: 1px solid #CBCBCB;
                    
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;

                    &:focus{
                        outline: none;
                    }
                }

                .ContactUs_BTN{
                    width: 189px;
                    height: 40px;

                    background-color: black;
                    color: white;

                    border: 1px solid black;
                    border-radius: 8px;

                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.4px;
                    text-align: center;
                    
                    cursor: pointer;
                    transition: all .3s ease;

                    &:hover{
                        transform: scale(1.02);
                    }
                    &:active{
                        transform: scale(1);
                    }
                }
            }
           
            .Contact_Us_Cart{
                width: 50%;
                height: 100%;

                .Contact_Us_Cart_Map{
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }

    .Contact_Us_Values_Section{
        width: 100%;
        background: #F3F5F7;
    }
}


@media(max-width:450px){
    .ContactUs_Wrapper{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        padding: 0px 32px;

        .ContactUs_Header_Info{
            margin-top: 90px;
            width: 100%;
            height: auto;


            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            h1{
                width: 100%;
                height: auto;

                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }
            p{
                width: 100%;
                height: auto;

                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }
        }
        
        .ContactUs_Feature_Section{
            width: 100%;
            height: auto;
        
            flex-direction: column;
            
            img{
                width: 100%;
                height: 100%;
            }
            
            .ContactUs_Feature_Info{
                width: 100%;
                height: auto;
                
                padding: 63px 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 24px;

                h1{
                    width: 100%;
                    height: auto;

                    font-weight: 500;
                    font-style: Medium;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0px;
                }
                p{
                    width: 100%;
                    height: auto;

                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0px;
                }
            }
        }
        
        .Contact_Us_Section{
            width: 100%;
            height: auto;
   

            h1{
                font-weight: 500;
                font-style: Medium;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0px;
                text-align: center;
            }

            .Contact_Us_Item_Block_Container{
                width: 100%;
                height: auto;
                
                display: flex;
                flex-direction: column;
                gap:16px;

                .Contact_Us_Item_Block{
                    width: 312px;
                    height: 156px;
           

                    font-size: 32px;

                    h3{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: center;
                        text-transform: uppercase;
                        color: #6C7275;
                    }

                    h2{
                        width: 260px;
                        font-weight: 600;
                        font-style: Semi Bold;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #303435;
                    }
                }


            }

            .Contact_Us_Location_Container{
                width: 100%;
                height: auto;

                display: flex;
                align-items: center;
                flex-direction: column-reverse;
                justify-content: center;
                gap: 24px;



                .Contact_Us_Form{
                        width: 100%;
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        
                        justify-content: center;
                        align-items: center;
                        gap: 16px;

                        .ContactUs_Inputs{
                            width: 100%;
                            height: 64px;

                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            label{
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 12px;
                                letter-spacing: 0%;
                                text-transform: uppercase;

                                color: #6C7275;
                            }

                            input{
                                width: 100%;
                                height:40px;
                            }               
                        }
                        
                        textarea{
                            width: 100%;
                            min-height: 164px;

                            max-width: fit-content;
                            max-height: fit-content;
                                              
                        }

                        .ContactUs_BTN{
                            width: 189px;
                            height: 40px;

                            background-color: black;
                            color: white;
                        }
                    }
                
                    .Contact_Us_Cart{
                        min-width: 100%;
                        height: 311px;

                        .Contact_Us_Cart_Map{
                            width: 100%;
                            height: 100%;
                            border: none;
                        }
                    }
            }
        }

        .Contact_Us_Values_Section{
            width: 117%;
            background: #F3F5F7;
            margin-bottom: -14%;
        }
    }
}