
.ContactUs_Wrapper{
    width: 100%;
    height: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    .ContactUs_Header_Info{
        margin-top: 90px;
        width: 100%;
        height: auto;

        max-width:1126px;
        max-height: 276px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        h1{
            width: 834px;
            height: 174px;

            font-weight: 500;
            font-style: Medium;
            font-size: 54px;
            line-height: 58px;
            letter-spacing: -1px;
        }
        p{
            width: 834px;
            height: 78px;

            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
        }
    }
    
    .ContactUs_Feature_Section{
        width: 100%;
        max-width: 1119px;
        height: 430px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F3F5F7;

        img{
            width: 50%;
            max-width: 560px;
            height: 100%;
        }
        
        .ContactUs_Header_Info{
            width: 100%;
            height: auto;
            
            padding: 100px 72px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            h1{
                width: 100%;
                height: auto;

                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }
            p{
                width: 100%;
                height: auto;

                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }
        }
    }
}


@media(max-width:450px){
    .ContactUs_Wrapper{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        padding: 0px 32px;

        .ContactUs_Header_Info{
            margin-top: 90px;
            width: 100%;
            height: auto;


            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            h1{
                width: 100%;
                height: auto;

                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }
            p{
                width: 100%;
                height: auto;

                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }
        }
    
        
    }
}