
.Cart_Wrapper{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid silver;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

