
.Cart_Wrapper{
    width: 100%;
    height: 100%;
    background: #00000052;
    position: fixed;
    z-index: 9999999;

    .Cart_Container{
        width: 400px;
        height: 100%;

        position: absolute;
        right: 0;       
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding: 40px 24px;
        
        .Cart_Items_Container{
            
            width: 100%;
            height: auto;
            overflow: auto;
        
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            padding: 10px;

            .Cart_Items_Close{
                width: 100%;
                height: auto;

                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: -0.6px;

                }

                span{
                    display: block;
                    position: relative;

                    width: 18px;
                    height: 2px;
                    
                    background-color: black;
                    transform: rotate(45deg);
                    
                    &::before{
                        content: '';

                        width: 18px;
                        height: 2px;
                        
                        background-color: black;
                        
                        position: absolute;
                        left: 0;
                        top: 0;

                        transform: rotate(90deg);
                    }

                    cursor: pointer;
                    &:hover{
                        opacity: .7;
                    }
                }
            }


            .Cart_Item{
                width: 100%;
                height: 144px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;

                opacity: 1;
                border-bottom: 1px solid #E8ECEF;
              
                img{
                    width: 100px;
                    height: 100px;
                }

                .Cart_Item_Info_Container{
                    width: 250px;
                    height: 96px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;                    

                    .Cart_Item_Info{
                        width: auto;
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        h1{
                            font-weight: 600;
                            font-style: Semi Bold;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }

                        h2{
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #6C7275;
                        }

                        div{
                            width: 80px;
                            height: 32px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 12px;
                            gap: 10px;
                            opacity: 1;

                            border-radius: 4px;
                      
                            border: 1px solid #6C7275;
                            
                            span{
                                font-size: 20px;
                                color: rgb(99, 98, 98);
                                cursor: pointer;
                                
                                &:active{
                                    transform: scale(.9);
                                }
                            }
                        }
                    }

                    .Cart_Item_price{
                        width: auto;
                        height: 100%;
                        
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        gap: 14px;
                        transition: all .3s ease;

                        div{
                            width: 18px;
                            height: 2px;
                            background: #6C7275;
                            transform: rotate(45deg);
                            position: relative;
                            cursor: pointer;

                            &::before{
                                content: '';
                                width: 18px;
                                height: 2px;
                                background: #6C7275;
                                position: absolute;
                                left: 0;
                                top: 0;
                                transform: rotate(90deg);
                            }

                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }

            }
        }

        .Cart_Summary_Container{
                width: 100%;
                height: auto;
                border-top: 1px solid #E8ECEF;

                
                display: flex;
                flex-direction: column;
                gap: 16px;
                align-items: center;

                .Cart_Price_Container{
                    width: 100%;
                    height: 52px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2{
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 20px;
                        line-height: 28px;
                        letter-spacing: 0px;
                    }

                    h3{
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 20px;
                        line-height: 28px;
                        letter-spacing: 0px;
                        text-align: right;
                    }

                }

                .Cart_Button_Container{
                    width: 100%;
                    height: 90%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 16px;

                    .Cart_BTN{
                        width: 100%;
                        height: 52px;

                        background-color: black;
                        color: white;
                            
                        border: none;
                        border-radius: 8px;

                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: -0.4px;
                        text-align: center;

                        cursor: pointer;
                        transition: all .3s ease;

                        &:hover{
                            background-color: white;
                            color: black;
                            border: 1px solid black;
                        }

                        &:active{
                            transform: scale(.98);
                        }
                    }
                
                    p{
                        font-weight: 400;
                        font-style: Semi Bold;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0px;

                        border-bottom: 1px solid #121212;

                        cursor: pointer;

                        transition: all .2s ease;
                        &:hover{
                            transform: scale(1.03);
                        }

                        &:active{
                            transform: scale(1);
                        }
                    }
                }
            }
    }
}


@media(max-width: 450px){
    .Cart_Wrapper{


        .Cart_Container{
            width: 100%;
            height: 100%;
        }
    }
}