            .Cart_Container{
                width: 100%;
                height: auto;
                max-height: 556px;

                overflow: auto;

                display: flex;
                flex-direction: column;
                gap: 24px;

                .Cart_Page_Item{
                    width: 100%;
                    height: 144px;

                    display: flex;
                    gap: 16px;

                    border-bottom: 1px solid #E8ECEF;

                    img{
                        width: 80px;
                        height: 96px;
                    } 
                    
                    .Info_Block{
                        width: 80%;
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: 8px;

                        h1{
                            font-weight: 600;
                            font-style: Semi Bold;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: 0px;
                        }
                        h2{
                            width: 90px;
                            text-align: start;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 12px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #6C7275;
                        }

                        div{
                            width: 80px;
                            height: 32px;

                            border: 1px solid #6C7275;
                            border-radius: 4px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 12px;

                            span{
                                cursor: pointer;
                                font-size: 16px;
                            }                            
                        }
                        
                    }

                    h2{
                        font-weight: 600;
                        font-style: Semi Bold;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: right;
                    }
                }


            }