
.CartPageItems_Radio_Buttons_Container{
    width: 100%;
    height: 196px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    
    .CartPageItems_Radio_Item{
        width: 100%;
        height: 52px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        border: 1px solid #141718;
        border-radius: 4px; 
        
        padding: 13px 16px;
        cursor: pointer;
        
        div{
            display: flex;
            gap: 12px;
            
            
            
            input{
                cursor: pointer;
                background-color: black;                            
            }
            h2{
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }
        }
        
        h3{
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: right;
        }
    }
    
    .CartPageItems_Radio_Item div input {
        /* скрываем нативную кнопку */
        appearance: none;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid #141718;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        background-color: white;
        margin-top: 4px;
    }
    /* внутренний кружок при выборе */
    .CartPageItems_Radio_Item div input:checked::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }
}

@media(max-width:450px){
    .CartPageItems_Radio_Buttons_Container{    
        
        
        .CartPageItems_Radio_Item{
            width: 100%;
            height: 52px;


            div h2{
                font-weight: 400;
                font-style: Semi Bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0px;
            }
            
            
            h3{
                font-weight: 400;
                font-style: Semi Bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: right;
            }
        }
        
        .CartPageItems_Radio_Item div input {
            /* скрываем нативную кнопку */
            appearance: none;
            -webkit-appearance: none;
            width: 18px;
            height: 18px;
            border: 1px solid #141718;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            background-color: white;
            margin-top: 4px;
        }
        /* внутренний кружок при выборе */
        .CartPageItems_Radio_Item div input:checked::after {
            content: "";
            position: absolute;
            top: 20%;
            left: 20%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
    }
}