
.CartPage_Steps_Container{
    width: 100%;
    max-width: 832px;
    height: 166px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;
    
    h1{
        font-weight: 500;
        font-style: Medium;
        font-size: 54px;
        line-height: 58px;
        letter-spacing: -1px;
    }

    .CartPage_Steps{
        width: 100%;
        height: 68px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
            
        .Active{
            opacity: 1;
            border-bottom: 2px solid black;

        }

        h2{
            width: 30%;
            height: 68px;
               
            opacity: .3;

            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
                
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 17px;
                                
            span{
                width: 40px;
                height: 40px;
                
                display: flex;
                align-items:center;
                justify-content: center;
                    
                background-color: black;
                color: white;
                border-radius: 50%;
                    
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: center;
            }
        }
    }               
}

@media(max-width:450px){
    .CartPage_Steps_Container{
        width: 100%;
        max-width: 832px;
        height: 166px;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: space-between;

        h1{
            font-weight: 500;
            font-style: Medium;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: -0.4px;
        }
        
        position: relative;
        overflow: hidden;
        
        .CartPage_Steps{
            width: 200%;
            
            height: 68px;

            position: absolute;

            bottom: 0;
            left: 0;

            display: flex;
            align-items: center;
            justify-content:start;

            transition: all 1s ease;
            overflow: hidden;
            padding: 0 10%;
            gap: 40px;

            .Active{
                opacity: 1;
                width: 70%;
            }

            h2{                
                width:50%;                
                height: 68px;

                opacity: .3;
                transition: all 1s ease;
                justify-content: start;

                
                span{
                    min-width: 42px;
                    height: 42px;
                        
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                }

            }
           
        }               
    }

}
