
.Cart_Page_Items_Container{
    width: 100%;
    max-width: 1120px;
    height: 642px;

    display: flex;
    align-items: center;
    gap:64px;

    position: relative;

    margin-bottom: 100px;

    .Cart_Page_Items{
        width: 60%;
        height: 482px;

        display: flex;
        flex-direction: column;

        .Cart_Page_Items_Header{
            width: 100%;
            height:50px;
            
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #E8ECEF;

            h3{
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }

            div{
                width: 322px;
                height: 22px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                h2{
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                }
            }
        }
        
    }

    .CartPage_Items_Cart_Summary{
        width: 413px;
        height: 476px;
        
        border: 1px solid #6C7275;
        border-radius: 6px;

        padding: 24px;

        display: flex;
        flex-direction: column;
        
        justify-content: center;

        h1{
            font-weight: 500;
            font-style: Medium;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0px;
        }

        .CartPageItems_Summary_Container{
            width: 365px;
            height: 384px;



            .CartPageItems_SubTotal{
                width: 100%;
                height: 52px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #EAEAEA;
                h1{
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                }

                h2{
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: right;
                }
            }
        
            .CartPageItems_Price_Total{
                width: 100%;
                height: 52px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0px;
                }
                h2{
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: right;
                }
            }
        }

        .CartPageItems_CheckOut_BTN{
            width: 365px;
            height: 52px;

            background-color: black;
            color: white;

            border: 1px solid black;
            border-radius: 8px;

            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: -0.4px;
            text-align: center;

            cursor: pointer;
            transition: all .3s ease;

            &:hover{
                background-color: white;
                color: black;
            }

            &:active{
                transform: scale(.98);
            }
        }
    }

    .Cupon_Container{
        position: absolute;
        bottom: -13%;

        width: 424px;
        height: 129px;

        display: flex;
        flex-direction: column;

        gap: 7px;

        h1{
            font-weight: 500;
            font-style: Medium;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0px;
        }
        p{
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            color: #6C7275;
        }

        .Cuppon_Input_Container{
            margin-top: 21px;

            width: 100%;
            height: 52px;

            border: 1px solid #6C7275;
            border-radius: 3px;
            padding: 0 16px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            color: #6C7275;
      
            .Input{
                width: 78%;
                height: 100%;

                input{
                    width: 100%;
                    height: 100%;
                    
                    border: none;

                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.4px;
                    color: #6C7275;

                    &:focus{
                        border: none;
                        outline: none;
                    }
                }
            }

            h1{
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: -0.4px;
                color: black;

                cursor: pointer;

                &:hover{
                    opacity: .7;
                }
                &:active{
                    transform: scale(.98);
                }
            }
        }
    }
}



@media(max-width:450px){
    .Cart_Page_Items_Container{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap:64px;

        .Cart_Page_Items{
            margin-top: 40px;
            width: 90%;
            height: auto;

            display: flex;
            flex-direction: column;

            .Cart_Page_Items_Header{
                width: 100%;
                height:50px;                            
                
                h3{
                    font-weight: 600;
                    font-style: Semi Bold;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                }

                div{
                    display: none;
                }
            }
        }

        .CartPage_Items_Cart_Summary{
            width: 90%;
            height: 450px;
            
            border: 1px solid #6C7275;
            border-radius: 6px;

            padding: 24px;

            display: flex;
            flex-direction: column;
            
            justify-content: center;

            margin-top: -40px;

            h1{
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }

            .CartPageItems_Summary_Container{
                width: 100%;
                height: 384px;



                .CartPageItems_SubTotal{
                    width: 100%;
                    height: 52px;


                    h1{
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0px;
                    }

                    h2{
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: right;
                    }
                }
            
                .CartPageItems_Price_Total{
                    width: 100%;
                    height: 52px;

                    h1{
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                    }
                    h2{
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: right;
                    }
                }
            }

            .CartPageItems_CheckOut_BTN{
                width: 100%;
                height: 52px;

                

                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: -0.4px;
                text-align: center;


                cursor: pointer;
                transition: all .3s ease;
            }
        }

        .Cupon_Container{
            position:static;
            width: 90%;

            display: flex;
            flex-direction: column;

            gap: 7px;

            h1{
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;
            }
            p{
                font-weight: 400;
                font-style: Regular;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0px;
                color: #6C7275;
            }

            .Cuppon_Input_Container{
                margin-top: 9px;

                color: #6C7275;
        
                .Input{
                    width: 75%;
                    height: 100%;

                    input{
                        width: 100%;
                        height: 100%;
                        
                        border: none;

                        font-weight: 500;
                        font-style: Medium;
                        font-size: 16px;
                        line-height: 28px;
                        letter-spacing: -0.4px;
                        color: #6C7275;
                    }
                }

                h1{
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.4px;

                    color: black;

                    cursor: pointer;

                    &:hover{
                        opacity: .7;
                    }
                    &:active{
                        transform: scale(.98);
                    }
                }
            }
        }
    }
}
