

.Comments_Wrapper{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;    
    
    padding: 120px 160px;
    margin-bottom: 100px;
    gap: 48px;

    ul{
        width: 100%;
        height: 32px;

        display: flex;
        align-items: center;
        gap: 80px;

        border-bottom: 1px solid #E8ECEF;
        
        li{
            list-style-type: none;

            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: -0.4px;
        
            color: #807E7E;

            cursor: pointer;
        }

        li:last-child{
            color: black;
            border-bottom: 1px solid black;
        }
    }

    .Review_Section_Wrapper{
        width: 100%;
        height: auto;
        min-height:214px;

        display: flex;
        flex-direction: column;
        gap: 30px;

        .Review_Section_Info{
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            gap: 24px;
            
            h1{
                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }

            .Review_Section_Info_Stars{
                display: flex;
                align-items: center;               
                span{
                    font-size: 16px;
                }
                p{
                    margin-left: 8px;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0px;
                }
            }
        }

        .Review_Section_Input{
            width: 100%;
            height:auto;
            min-height: 52px;
            border: 2px solid #E8ECEF;
            border-radius: 16px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 16px;

            .Comments_Input{
                width: 85%;
                height: 100%;

                input{
                    width: 100%;
                    height: 100%;
                    border-radius: 16px;
                    border: none;

                    font-size: 20px;

                    display: flex;
                    flex-wrap: wrap;

                    &:focus{
                        outline: none;
                        border: none;
                    }
                }               
            }

            Button{
                width: 15%;
                height: 40px;

                border: 1px solid black;
                border-radius: 80px;
                background-color: black;
                color: white;
                
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: -0.4px;
                text-align: center;
                
                cursor: pointer;

                transition: all .3s ease;

                &:hover{
                    transform: scale(1.03);
                }
                &:active{
                    transform: scale(1);
                }
            }
        }
    }


    .Comments_Container{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 24px;

        h1{
            font-weight: 500;
            font-style: Medium;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: -0.6px;
        }

        .Comments_Item{
            width: 100%;
            height: auto;
            min-height: 200px;

            display: flex;
            flex-direction: column;            
            padding-bottom:16px;
            border-bottom: 1px solid #E8ECEF;
            
            .Comments_User{
                width: 100%;
                height: auto;

                display: flex;
                gap: 40px;

                img{
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                }
                
                .Comments_User_Info{
                    width: 100%;
                    height: auto;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 

                    h2{
                        font-weight: 400;
                        font-style: Semi Bold;
                        font-size: 20px;
                        line-height: 32px;
                        letter-spacing: 0px;
                    }
                }                
            }

            
            p{
                margin-left: 112px;
                width: 80%;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0px;

            }
        }
    }
}

@media(max-width:450px){ 

    .Comments_Wrapper{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 40px;

        padding: 0;

        ul{
            display: none;
        }

        .Review_Section_Wrapper{
            width: 90%;

            display: flex;
            flex-direction: column;
            gap: 32px;

            .Review_Section_Info{

                display: flex;
                flex-direction: column;
  
                
                h1{
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0px;
                }           
            }

            .Review_Section_Input{              
                    
                    .Comments_Input{
                        width: 85%;
                        height: 100%;

                        input{
                            width: 100%;
                            height: 100%;
                            border-radius: 16px;
                            border: none;

                            font-size: 14px;                           
                        }               
                    }

                    Button{
                            width: 38px;
                            height: 38px;

                            border: 1px solid black;
                            border-radius: 50%;
             
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-size: 20px;                          
                    }
                }
        }

        .Comments_Container{
            width: 80%;
            height: auto;

            display: flex;
            flex-direction: column;
            gap: 24px;
          

            .Comments_Item{
                width: 100%;
                height: auto;
                min-height: 0;

                display: flex;
                flex-direction: column;            
                gap: 16px;

                .Comments_User{
                    width: 100%;
                    height: auto;

                    display: flex;
                    gap: 40px;

                  
                    
                    .Comments_User_Info{

                        h2{
                            font-weight: 600;
                            font-style: Semi Bold;
                            font-size: 20px;
                            line-height: 32px;
                            letter-spacing: 0px;
                        }

                        div{
                            font-size: 16px;
                        }
                    }                
                }

                
                p{
                    margin-left: 0;
                    width: 100%;

                    text-align:justify;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;

                }
            }
        }
    }
}