
.Cart_Page_Second_Step_Wrapper{
    width: 100%;
    max-width: 1120px;
    height: auto;


    display: flex;
    gap: 64px;

    margin-bottom: 100px;




        .Cart_Page_Second_Cart{
            margin-top: 80px;
            width: 413px;
        
            height: auto;
            max-height: 886px;

            border: 1px solid black;
        
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 6px;

            padding: 24px 16px;

          

            h1{
                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }


            
            .discount_Container{
                width: 100%;
                height: 52px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .Discount_Input{
                    width: 75%;
                    height: 100%;

                    padding: 13px 16px;
                    border: 1px solid #CBCBCB;
                    border-radius: 6px;

                    input{
                        width: 100%;
                        height: 100%;

                        border: none;

                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                        color: #605F5F;

                        &:focus{
                            outline: none;
                        }
                    }
                }
                
                button{
                    width: 20%;
                    height: 100%;

                    background-color: #141718;
                    color: white;
                    
                    border: 1px solid black;
                    border-radius: 8px;

                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.4px;
                    text-align: center;

                    cursor: pointer;
                    transition: all .1s ease;

                    &:hover{
                        transform: scale(1.02);
                    }
                    &:active{
                        transform: scale(1);
                    }
                }
            }



        }
}



@media(max-width:450px){
    .Cart_Page_Second_Step_Wrapper{
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;

        margin-bottom: 100px;

        .Cart_Page_Second_Cart{
            margin-top: 0px;
            width: 100%;
        
            height: auto;
            max-height: 886px;

            border: 1px solid black;
        
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 6px;

            padding: 24px 16px;

          

            h1{
                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: -0.6px;
            }


            
            .discount_Container{
                width: 100%;
                height: 52px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .Discount_Input{
                    width: 75%;
                    height: 100%;

                    padding: 13px 16px;
                    border: 1px solid #CBCBCB;
                    border-radius: 6px;

                    input{
                        width: 100%;
                        height: 100%;

                        border: none;

                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                        color: #605F5F;

                        &:focus{
                            outline: none;
                        }
                    }
                }
                
                button{
                    width: 20%;
                    height: 100%;

                    background-color: #141718;
                    color: white;
                    
                    border: 1px solid black;
                    border-radius: 8px;

                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.4px;
                    text-align: center;

                    cursor: pointer;
                    transition: all .1s ease;

                    &:hover{
                        transform: scale(1.02);
                    }
                    &:active{
                        transform: scale(1);
                    }
                }
            }

        }

    }
}