.Shop_Wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 0;
    
    .Shop_Products{
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px;
    }
}