            .CheckOut_Info{
                width: 100%;
                height:208px;

                display: flex;
                flex-direction: column;

                padding: 0 5px;

                .CheckOu_tInfo_Element{
                    width: 100%;
                    height: 52px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    border-bottom: 1px solid #E8ECEF;

                    h3{
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                    }
                    h2{
                        font-weight: 600;
                        font-style: Semi Bold;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: right;
                    }

                    .discount_Is_Active{
                        color: #38CB89;
                    }
                }
            }