
.Product_Loop_Timer_Wrapper{
    margin: 24px 0;
    width: 100%;
    height:166px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 1px  solid #E8ECEF;
    border-bottom: 1px solid #E8ECEF;
    
    h1{
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    .Product_Loop_Timer{
        width: 100%;
        height:118px;

        display: flex;
        align-items: center;
        gap: 16px;

        .Product_Loop_Timer_Item{
            width: 60px;
            height: 80px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3{
                width: 60px;
                height: 60px;
                background: #F3F5F7;

                display: flex;
                align-items: center;
                justify-content: center;

                font-weight: 500;
                font-style: Medium;
                font-size: 34px;
                line-height: 38px;
                letter-spacing: -0.6px;
                text-align: center;
            }

            h2{
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: center;
                color: #6C7275;
            }
        }
    }
}

@media(max-width:450px){
   .Product_Loop_Timer_Wrapper{
        margin: 24px 0;
        width: 100%;
        height:auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        border-top: 1px  solid #E8ECEF;
        border-bottom: 1px solid #E8ECEF;
        
        h1{
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
        }

        .Product_Loop_Timer{
            width: 100%;
            height:118px;

            display: flex;
            align-items: center;
            gap: 16px;

            .Product_Loop_Timer_Item{
                width: 60px;
                height: 80px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h3{
                    width: 60px;
                    height: 60px;
                    background: #F3F5F7;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-weight: 500;
                    font-style: Medium;
                    font-size: 34px;
                    line-height: 38px;
                    letter-spacing: -0.6px;
                    text-align: center;
                }

                h2{
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #6C7275;
                }
            }
        }
    }
 
}