
.Shop_Filters_Wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.Filter {
  position: relative;
  width: 190px;

  h1{
    font-weight: 400;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;

    color: #6C7275;
    margin-left: 4px;
  }

    .FilterSummary {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        background: #fff;
        cursor: pointer;
        user-select: none;

        width: 100%; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }


  .FilterList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    margin-top: 0.2rem;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;

    li {
      padding: 0.4rem 0.6rem;
      cursor: pointer;
      &:hover {
        background: #f5f5f5;
      }
    }
    
  }

  .FilterList_Price{
    position: absolute;
    left: 0;
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 8px;

    background: #fff;

    margin-top: 0.2rem;
    max-height: 200px;

    overflow-y: auto;
    z-index: 10;
    padding: 5%;

    display: flex;
    flex-direction: column;


    label{
      width: 100%;
      font-size: 15px;
      color: rgb(94, 93, 93);
      padding: 5px;
    }
    input{
      width: 100%;
      height: 30px;

      margin-bottom: 15px;
      
      border: 1px solid silver;
      border-radius: 5px;
      padding: 5px;

      font-size: 15px;

      &:focus{
        outline: none;
      }
    }

  }
}

@media(max-width: 450px){
    
  .Shop_Filters_Wrapper{
    gap: 20px;
    height: auto;
  }

  .Filter {
    position: relative;
    width: 100%;
    
      .FilterSummary {
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 0.5rem 1rem;
          background: #fff;
          cursor: pointer;
          user-select: none;

          width: 100%; 
          white-space: nowrap; 
          overflow: hidden; 
          text-overflow: ellipsis; 
      }


      .FilterList {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 8px;
          background: #fff;
          margin-top: 0.2rem;
          max-height: 200px;
          overflow-y: auto;
          z-index: 10;

          li {
              padding: 0.4rem 0.6rem;
              cursor: pointer;
              &:hover {
                  background: #f5f5f5;
              }
              label {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;

                  input[type="checkbox"] {
                  width: 16px;
                  height: 16px;
                  accent-color: #0070f3;
                  }
              }
          }
      }
      
  }
  
}