@import "@fontsource/poppins"; // по умолчанию Regular 400
@import "@fontsource/poppins/700.css"; // если нужно жирное начертание

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
}

.Home_Banner_Strell {
    display: inline-block; 
    width: 13.6px;
    height: 1px;
    border-radius: 1px;
    background-color: black;
    vertical-align: middle; 
    position: relative;
    
    cursor: pointer;
    margin-left: 6px;
    
    z-index: 2;
    
    &::before,
    &::after {
        content: '';
        position: absolute;
        right: -1px;
        width: 7px;
        height: 1px;
        background-color: black;
        border-radius: 1px;
        transform-origin: right center;
    }
    
    &::before {
        transform: rotate(45deg);
        top: 0px;
    }
    
    &::after {
        transform: rotate(-45deg);
        bottom: 0px;
    }
    
    
    transition: transform 0.2s ease;
    &:hover {
        transform: translateX(3px);
    }
}
