@import "@fontsource/poppins"; // по умолчанию Regular 400
@import "@fontsource/poppins/700.css"; // если нужно жирное начертание

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
