.Item_Page_Loyaut_Container{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        gap: 64px;

        img{
            width: 40%;
        }
        .Item_Page_Loyaut_Info_Wrapper{
            width: 40%;
            margin-top: 30px;

            display: flex;
            flex-direction: column;
            
            .Item_Page_Loyaut_Info{
                width: 100%;

                display: flex;
                flex-direction: column;
                gap: 16px;

                span{
                    font-size: 16px;
                    color: #343839;
                }
                h1{
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 40px;
                    line-height: 44px;
                    letter-spacing: -0.4px;
                    color: #141718;
                }
                p{
                    max-width: 500px;
                    height: auto;

                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    color: #6C7275;

                }        
                h3{
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: -0.6px;
                    color: #121212;
                    
                    display: flex;
                    gap: 12px;
                    span{
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 28px;
                        line-height: 34px;
                        letter-spacing: -0.6px;
                        color: #6C7275;
                        text-decoration: line-through;
                        opacity: .6;
                    }
                }
            }
        }

}

@media(max-width:450px){
    .Item_Page_Loyaut_Container{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 64px;
        margin-top: 30px;

        img{
            width: 90%;
        }
            .Item_Page_Loyaut_Info_Wrapper{
                width: 90%;
                
                .Item_Page_Loyaut_Info{
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .Item_Page_Loyaut_Info_Starts{
                        display: flex;
                        gap:2px;
                        span{
                            font-size: 20px;
                        }
                    }

    
                    h3{
                        margin-top: 16px;

                        display: flex;
                        gap: 12px;

                        span{
                            font-weight: 500;
                            font-style: Medium;
                            font-size: 28px;
                            line-height: 34px;
                            letter-spacing: -0.6px;
                            color: #6C7275;
                            text-decoration: line-through;
                            opacity: .6;
                        }
                    }
                }
            }

    }
}   